* {
  margin: 0;
  padding: auto;
}

body {
  background-color: #D7D7D7;
}

.resume {
  width: 1000px;
  margin: 50px auto;
}

.resume .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

.resume .name .initials {
  background-color: #AA8F5A;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume .name .initials p {
  color: #364356;
  font-size: 2rem;
  margin: auto;
}

.resume .name .full-name {
  background-color: #FF5E6B;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume .name .full-name p {
  color: #364356;
  font-size: 4rem;
  margin: auto;
}

.resume .photo-and-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #364356;
  height: 250px;
}

.resume .photo-and-skills .photo {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume .photo-and-skills .photo img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: auto;
}

.resume .photo-and-skills .skills {
  width: 600px;
}

.resume .photo-and-skills .skills #heading {
  color: #AA8F5A;
  font-size: 1.5rem;
  margin: 25px 40px;
}

.resume .photo-and-skills .skills .skills-list {
  color: #D7D7D7;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume .photo-and-skills .skills .skills-list ul {
  list-style: none;
}

.resume .photo-and-skills .skills .skills-list ul li::before {
  content: "\2022";
  color: #AA8F5A;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.resume .contact-education-experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume .contact-education-experience .left-contact-education {
  background-color: #EFEFED;
  width: 400px;
}

.resume .contact-education-experience .left-contact-education .contact {
  margin: 50px;
}

.resume .contact-education-experience .left-contact-education .contact #contact-heading {
  color: #364356;
  font-size: 1.5rem;
}

.resume .contact-education-experience .left-contact-education .contact ul {
  list-style: none;
  padding: 0px;
}

.resume .contact-education-experience .left-contact-education .contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  font-size: 1rem;
}

.resume .contact-education-experience .left-contact-education .contact ul li .fa {
  background-color: #FF5E6B;
  color: #FFFFFF;
  font-size: 24px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 2px #888;
          box-shadow: 0px 0px 2px #888;
}

.resume .contact-education-experience .left-contact-education .contact ul li p {
  margin: 5px 20px;
}

.resume .contact-education-experience .left-contact-education .contact ul li p a:link {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience .left-contact-education .contact ul li p a:visited {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience .left-contact-education .contact ul li p a:hover {
  text-decoration: underline;
}

.resume .contact-education-experience .left-contact-education .education {
  margin: 50px;
}

.resume .contact-education-experience .left-contact-education .education #education-heading {
  color: #364356;
  font-size: 1.5rem;
}

.resume .contact-education-experience .right-experience {
  background-color: #FFFFFF;
  width: 600px;
}

.resume .contact-education-experience .right-experience .experience {
  margin: 50px;
}

.resume .contact-education-experience .right-experience .experience #experience-heading {
  color: #364356;
  font-size: 1.5rem;
}
