* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #D7D7D7;
  font-family: Calibri, sans-serif;
}

.resume {
  width: 1000px;
  margin: 50px auto;
  -webkit-box-shadow: 0px 0px 50px #364356;
          box-shadow: 0px 0px 50px #364356;
}

.resume .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

.resume .name .initials {
  background-color: #AA8F5A;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume .name .initials p {
  color: #364356;
  font-size: 2rem;
  margin: auto;
}

.resume .name .full-name {
  background-color: #FF5E6B;
  width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume .name .full-name p {
  color: #364356;
  font-size: 4rem;
  margin: auto;
  text-shadow: 0px 0px 2px #364356;
}

.resume .photo-and-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #364356;
  height: 250px;
}

.resume .photo-and-skills .photo {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resume .photo-and-skills .photo img {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin: auto;
}

.resume .photo-and-skills .skills {
  width: 600px;
}

.resume .photo-and-skills .skills #heading {
  color: #AA8F5A;
  font-size: 1.5rem;
  margin: 25px 40px;
}

.resume .photo-and-skills .skills .skills-list {
  color: #D7D7D7;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume .photo-and-skills .skills .skills-list ul {
  list-style: none;
}

.resume .photo-and-skills .skills .skills-list ul li::before {
  content: "\2022";
  color: #AA8F5A;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  padding: 0.5rem 0 0 2rem;
}

.resume .photo-and-skills .skills .skills-list ul li {
  margin: 0 3rem 0 2rem;
}

.resume .contact-education-experience-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.resume .contact-education-experience-projects .left-contact-profiles-education {
  background-color: #EFEFED;
  width: 400px;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .contact {
  margin: 50px;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .contact #contact-heading {
  color: #364356;
  font-size: 1.5rem;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .contact ul {
  list-style: none;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  font-size: 1rem;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .contact ul li .fa {
  background-color: #FF5E6B;
  color: #FFFFFF;
  font-size: 24px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 2px #888;
          box-shadow: 0px 0px 2px #888;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .contact ul li p {
  margin: 5px 20px;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .contact ul li p a:link {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .contact ul li p a:visited {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .contact ul li p a:hover {
  text-decoration: underline;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .profiles {
  margin: 50px;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .profiles #profile-heading {
  color: #364356;
  font-size: 1.5rem;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .profiles ul {
  list-style: none;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .profiles ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  font-size: 1rem;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .profiles ul li .fa {
  background-color: #FF5E6B;
  color: #FFFFFF;
  font-size: 24px;
  width: 25px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 2px #888;
          box-shadow: 0px 0px 2px #888;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .profiles ul li p {
  margin: 5px 20px;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .profiles ul li p a:link {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .profiles ul li p a:visited {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .profiles ul li p a:hover {
  text-decoration: underline;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .education {
  margin: 50px;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .education #education-heading {
  color: #364356;
  font-size: 1.5rem;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .education ul {
  list-style: none;
  padding: 0px;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .education ul li {
  margin: 20px 0;
  font-size: 1rem;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .education ul li p {
  margin: 5px 0px;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .education ul li p a:link {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .education ul li p a:visited {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience-projects .left-contact-profiles-education .education ul li p a:hover {
  font-weight: bold;
}

.resume .contact-education-experience-projects .right-experience-projects {
  background-color: #FFFFFF;
  width: 600px;
  border-left: 2px solid #364356;
}

.resume .contact-education-experience-projects .right-experience-projects .experience {
  margin: 50px;
}

.resume .contact-education-experience-projects .right-experience-projects .experience #experience-heading {
  color: #364356;
  font-size: 1.5rem;
}

.resume .contact-education-experience-projects .right-experience-projects .experience .jobs-list {
  list-style: none;
}

.resume .contact-education-experience-projects .right-experience-projects .experience .jobs-list .about-job {
  margin: 20px 0;
  font-size: 1rem;
}

.resume .contact-education-experience-projects .right-experience-projects .experience .jobs-list .about-job a:link {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience-projects .right-experience-projects .experience .jobs-list .about-job a:visited {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience-projects .right-experience-projects .experience .jobs-list .about-job a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.resume .contact-education-experience-projects .right-experience-projects .experience .jobs-list .about-job .job-title {
  color: #AA8F5A;
  margin: 0 0 5px 0;
}

.resume .contact-education-experience-projects .right-experience-projects .experience .jobs-list .about-job .company-name-and-duration {
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.resume .contact-education-experience-projects .right-experience-projects .experience .jobs-list .about-job .things-done {
  padding: 0.25rem 2.5rem;
  list-style: none;
}

.resume .contact-education-experience-projects .right-experience-projects .experience .jobs-list .about-job .things-done li::before {
  content: "\2022";
  color: #364356;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.resume .contact-education-experience-projects .right-experience-projects .experience .jobs-list .about-job .things-done li {
  margin: 0 0 5px 0;
}

.resume .contact-education-experience-projects .right-experience-projects .projects {
  margin: 50px;
}

.resume .contact-education-experience-projects .right-experience-projects .projects #projects-heading {
  color: #364356;
  font-size: 1.5rem;
}

.resume .contact-education-experience-projects .right-experience-projects .projects .projects-list {
  list-style: none;
}

.resume .contact-education-experience-projects .right-experience-projects .projects .projects-list .about-project {
  margin: 20px 0;
  font-size: 1rem;
}

.resume .contact-education-experience-projects .right-experience-projects .projects .projects-list .about-project a:link {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience-projects .right-experience-projects .projects .projects-list .about-project a:visited {
  text-decoration: none;
  color: #364356;
}

.resume .contact-education-experience-projects .right-experience-projects .projects .projects-list .about-project a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.resume .contact-education-experience-projects .right-experience-projects .projects .projects-list .about-project .project-title {
  color: #AA8F5A;
}

.resume .contact-education-experience-projects .right-experience-projects .projects .projects-list .about-project .things-done {
  padding: 0.25rem 2.5rem;
  list-style: none;
}

.resume .contact-education-experience-projects .right-experience-projects .projects .projects-list .about-project .things-done li::before {
  content: "\2022";
  color: #364356;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
